.buttonRow {
  /* exercise 3: we use overflow auto, so we only get scrollbars when we need them */
  overflow: auto;
  white-space: nowrap;
  margin-left: -22px;
  margin-right: -22px;
  margin-bottom: -22px;
  padding: 22px;
}
