.footer {
  position: relative;
  padding: 64px;
  background: hsl(0deg, 0%, 5%);
  color: white;
  text-align: center;
}

.footer a {
  /* here, we use inherit rather than white, so it just works, 
  even if we change the color of the footer text
  */
  color: inherit;
}
